.comments {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.form {
	display: flex;
	gap: 8px;
	align-items: stretch;
}

.card {
	margin-block: 16px;
}

.input {
	flex-grow: 1;
}

.title {
	display: block;
	margin-top: 12px !important;
}