.form {
	width: 100%;

	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #fff;

	border-top: 1px solid var(--medium-color);

	.formContainer {
		display: flex;
		gap: 8px;
	}
}

.input {
	flex-grow: 1;
}

.button {
	padding: 0 8px !important;

	i {
		transform: translateX(1px);
	}
}