.logo {


	display: flex;
	align-items: center;
	gap: 8px;
}

.content {
	display: flex;
	flex-direction: column;
	// align-items: flex-end;
	// gap: -8px;
}

.title {
	font-size: 28px;
	font-weight: 800;
}

.subtitle {
	display: inline-block;
	font-size: 12px;
	margin-top: -6px;
}