.header {
	border-bottom: var(--medium-color) 1px solid;
	position: sticky;
	top: 0;
	background-color: #fff;
	z-index: 10;
}

.header .container {
	transition: padding .3s;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px 32px;
	// flex-wrap: wrap;

	@media (max-width: 560px) {
		flex-direction: column;
	}
}

.header .scroll .container {
	padding-block: 8px;
}

.menu {
	display: flex;
	gap: 4px 16px;
	justify-content: center;
	// font-weight: w;
	flex-wrap: wrap;
}