@import "@/scss/null";

:root {
	--medium-color: #ddd;
	--accent-color: #000;
	--background-color: #eee;
	--foreground-color: #333;
}

.main {
	padding-block: 16px;
	height: 100%;
}

body {
	height: 100dvh;
}